<div class="container mt-5">
  <!-- Show error message-->
  <div
    *ngIf="errormsg"
    class="alert alert-warning alert-dismissible fade show"
    role="alert"
  >
    <strong>{{ errormsg }}</strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>

  <!-- Show success message-->
  <div
    *ngIf="successmsg"
    class="alert alert-success alert-dismissible fade show"
    role="alert"
  >
    <strong>{{ successmsg }}</strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>

  <form [formGroup]="userForm" (ngSubmit)="userSubmit()">
    <div class="col-lg-4 mt-2">
      <input
        type="text"
        class="form-control"
        formControlName="city_name"
        placeholder="Enter city name"
      />
    </div>

    <div class="col-lg-4 mt-2">
      <input
        type="text"
        class="form-control"
        formControlName="city_country"
        placeholder="Enter country"
      />
    </div>

    <div class="col-lg-4 mt-2" *ngIf="!getparamid" (click)="userSubmit()">
      <button class="btn btn-primary btn-sm">Create</button>
    </div>

    <div class="col-lg-4 mt-2" *ngIf="getparamid" (click)="userUpdate()">
      <button class="btn btn-dark btn-sm">Update</button>
    </div>

  </form>
</div>
